body { 
  display: grid;
  grid-template-areas: 
    "header header"
    "about image"
    "other other"
    "footer footer";
  grid-template-rows: 12vh 58vh 20vh 12vh;  
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  row-gap: 2px;
}  

.header {
  grid-area: header;
}

.image_display { 
  grid-area: image;    
  background: url("../images/gallery_image16.jpg") ;  
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px solid black;
}

.about {
  grid-area: about;
  border-right: 10px solid black;
  border-top: 10px solid black;
  padding-left: 15px;
  padding-right: 15px;
  background-color: antiquewhite;
}

.about h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 5px dotted black;
}

.about h2 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px;
  border-bottom: 5px dotted black;
  font-style: italic;
}
.about p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
  padding-top: 50px;
  font-size: large;
}

.links {
  grid-area: other;
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: center;
  align-content: center;
  /* background-color: antiquewhite; */
  height: 100%;
  text-align: center;
  column-gap: 2px

}

.links a {
  padding: 20px;
  font-size: 2em;
  color: black;
  height: 100%;
  font-weight: bold;
}

.links a:hover {
  color: #8d5b4c;
 
}

.footer {
  grid-area: footer;
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "about"
      "image"
      "logo"
      "footer";
    grid-template-rows: 10vh 30vh 40vh 40vh 10vh;  
    grid-template-columns: 1fr;
 }
}