body,html{
    background-color: #f8f8f8;
    min-width: 1000px;
    min-height:800px;
    width: 100%;
    margin:0px;
    height:100%;
    box-sizing: border-box;
    overflow:scroll;
}

.container{
    margin: 0;
    box-sizing: border-box;
    height:100%;
    display: grid;
    grid-template-areas: 'header'
                          'two'
                          'three'
                          'four'
                          'footer';
    grid-template-rows: 10% 20% 20% auto 10%;

}

.two{
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 'q w e';
    grid-gap: 2px;
}
.two img{
    box-shadow:10px 10px 4px  black ;
    height: 100%;
    width: 99%;
    margin: 1px;
}
.three{
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.three>div{
    height:100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.three img{
    width: 60px;
    height: 60px;
}
.four{
    display:flex;
    justify-content: center;
}
.four>div{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.four input{
    display: block;
    margin-top: 3px;
}
.hh{
    text-align: center;
}
.submit{
    display: flex;
    justify-content: center;
}
.five{
    align-items: center;
    grid-area: "three";
    display: grid;
    grid-template-areas: 'a b c d e f g h';
}
.five div:nth-child(1){
    margin-left: 10px;
    grid-area: a;
}
.five div:nth-child(2){
    align-self: center;
    justify-self: end;
    grid-area: h;
}
.five img{
    width: 25px;
    height: 25px;
}
img{
    object-fit:cover;
}