body,html{
    background-color: #f8f8f8;
    min-height:800px;
    width: 100%;
    margin:0px;
    height:100%;
    box-sizing: border-box;
    overflow:scroll;
}

.container{
    margin: 0;
    box-sizing: border-box;
    height:100%;
    display: grid;
    grid-template-areas: 'header'
                          'three'
                          'four'
                          'footer';
    grid-template-rows: 12% auto auto 12%;

}

/* .two{
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 'q w e';
    grid-gap: 2px;
}
.two img{
    box-shadow:10px 10px 4px  black ;
    height: 100%;
    width: 99%;
    margin: 1px;
} */


.three{
    background: url("../images/contact.avif") ;  
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.three>div{
    height:100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.three img{
    width: 60px;
    height: 60px;
}

.three p {
    font-weight: bold;
    text-align: center;
}
.four{
    display:flex;
    justify-content: center;
}
.four>div{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.four input{
    display: block;
    margin-top: 3px;
}
.hh{
    text-align: center;
}
.submit{
    display: flex;
    justify-content: center;
}
.five{
    align-items: center;
    grid-area: three;
    display: grid;
    grid-template-areas: 'a b c d e f g h';
}
.five div:nth-child(1){
    margin-left: 10px;
    grid-area: a;
}
.five div:nth-child(2){
    align-self: center;
    justify-self: end;
    grid-area: h;
}
.five img{
    width: 25px;
    height: 25px;
}
img{
    object-fit:cover;
}


@media all and (max-width: 760px) {
    .three>div{
        height:100%;
        width: 30%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .three img{
        width: 40px;
        height: 40px;
    }
    
    .three p {
      font-size: 15px;
    }

}

@media all and (max-width: 610px) {
    .three{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .three>div{
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content:space-around;
    }

    #nameInput, #emailInput, #messageInput {
        width: 450px !important;
    }

    #messageInput {
        height: 150px !important;
    }

    #submit {
        width: 250px !important;
    }

}

@media all and (max-width: 450px) {
    #nameInput, #emailInput, #messageInput {
        width: 350px !important;
    }

    #submit {
        width: 200px !important;
    }

    .contactTitle {
        display: none;
    }

    .three{
        flex-flow: column;
        justify-content: center;
    }
    .three>div{
        flex-flow: column;
        justify-content: center;
    }
}