body,html{
    background-color: #f8f8f8;
    min-width: 1000px;
    min-height:800px;
    width: 100%;
    margin:0px;
    height:100%;
    box-sizing: border-box;
    overflow:scroll;
}
.container{
    margin: 0;
    box-sizing: border-box;
    height:100%;
    display: grid;
    grid-template-areas: 'one'
                          'two'
                          'three'
                          'four'
                          'five';
    grid-template-rows: 10% 20% 20% auto 10%;

}
.one{
    color:#f8f8f8;
    background-color:  #8d5b4c;
    box-sizing: border-box;
    grid-area: one;
    display: grid;
    box-sizing: border-box;
    height: 100%;
    grid-template-areas: 'aa bb cc dd ee ff gg hh ii jj kk ll';
    grid-template-columns: repeat(12,8%);
    justify-items: end;
    align-items: center;
    
}
.one a{
    color: aliceblue;
}
.one a:hover{
    text-decoration: underline;
    color: black;
}
.logo>div:nth-child(1){
    float:left;
    grid-area:a;
    width:68px;
    height: 68px;
    border-radius: 1000px;
    margin: 8px;
}
.logo img{
    width:68px;
    height: 68px;
    border-radius: 1000px;
} 
.logo>div:nth-child(2){
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.one div:nth-child(2){
    grid-area: gg;
}
.one div:nth-child(3){
    grid-area: hh;
}
.one div:nth-child(4){
    grid-area: ii;
}
.one div:nth-child(5){
    grid-area: jj;
}
.one div:nth-child(6){
    grid-area: kk;
}
.one div:nth-child(7){
    grid-area: ll;

   
}
.more{
     line-height: 85px;
}

a{
    text-decoration: none;
}
.two{
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 'q w e';
    grid-gap: 2px;
}
.two img{
    box-shadow:10px 10px 4px  black ;
    height: 100%;
    width: 99%;
    margin: 1px;
}
.three{
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.three>div{
    height:100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.three img{
    width: 60px;
    height: 60px;
}
.four{
    display:flex;
    justify-content: center;
}
.four>div{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.four input{
    display: block;
    margin-top: 3px;
}
.hh{
    text-align: center;
}
.submit{
    display: flex;
    justify-content: center;
}
.five{
    align-items: center;
    grid-area: "three";
    display: grid;
    grid-template-areas: 'a b c d e f g h';
}
.five div:nth-child(1){
    margin-left: 10px;
    grid-area: a;
}
.five div:nth-child(2){
    align-self: center;
    justify-self: end;
    grid-area: h;
}
.five img{
    width: 25px;
    height: 25px;
}
img{
    object-fit:cover;
}
.dropdown1{
    display: none;
    box-sizing: border-box;
    width: 100px;
    height: 110px;
    position: absolute;
    top:57px;
    border-radius: 10px;
    background-color: #8d5b4c;
    list-style-type: none;
    font-size: 10px;
    box-shadow: 1px 1px 1px 1px  #8d5b4c ;
    
}
.dropdown1>li{
    margin-top: 5px;
}

.more1:hover .dropdown1 {
    display: block;
  }
  .logo img:nth-child(1):hover{
    width:75px;
    height: 75px;
}