*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
        "header header header"
        "card-1 card-2 card-3"
        "footer footer footer";
    grid-template-rows: 12vh auto 12vh;  
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.container{
    height: 70vh;
    perspective: 700px;
    display: flex;
    flex-direction: row;
}

.card-1{
    grid-area: card-1;
    width: 25vw;
    height: 90%;
    position: relative;
    transition: transform 1200ms;
    transform-style: preserve-3d;
    border-radius: 2%;
    margin: 1rem;
    align-items: center;
    margin: 30px;
}

.card-1:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card-2{
    grid-area: card-2;
    width: 25vw;
    height: 90%;
    position: relative;
    transition: transform 1200ms;
    transform-style: preserve-3d;
    border-radius: 2%;
    margin: 1rem;
    align-items: center;
    margin: 30px;
}

.card-2:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card-3{
    grid-area: card-3;
    width: 25vw;
    height: 90%;
    position: relative;
    transition: transform 1200ms;
    transform-style: preserve-3d;
    border-radius: 2%;
    margin: 1rem;
    align-items: center;
    margin: 30px;
}

.card-3:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}

.front, .back{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50,50,50,0.25);
    position: absolute;
    backface-visibility: hidden;
    background-color: antiquewhite;
    text-align: center;
}

.back{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front .backgroundImage{
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.pfp{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -100px;
    border: 10px solid white;
    align-items: center;
}

.container{
    margin-left: 100px;
    margin-top: 20px;
    width: 100%;
}

.card-1 h1, .card-2 h1, .card-3 h1{
    font-size: xx-large;
    margin-top: 30px;
}

.card-1 h2, .card-2 h2, .card-3 h2{
    font-size: x-large;
    margin: 5px;
}

.card-1 p, .card-2 p, .card-3 p{
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

ul{
    padding-top: 25px;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 20px;
}

@media all and (max-width:1200px) {
    body {
        display: grid;
        grid-template-areas: 
        "header header"
        "card-1 card-2"
        "card-3 card-3"
        "footer footer";
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: 12vh auto 12vh;   */
        /* height: 80vh; */
        overflow: scroll;
    }

    .container{
        height: 70vh;
        perspective: 700px;
        display: flex;
        /* flex-direction: row; */
    }
}