body,html{
    background-color: #f8f8f8;
    min-width: 1000px;
    min-height:850px;
    width: 100%;
    margin:0px;
    height:100%;
    box-sizing: border-box;
    overflow:scroll;
}
.container{
    margin: 0;
    box-sizing: border-box;
    height:100%;
    display: grid;
    grid-template-areas: 'header'
                         'two'
                          'footer';
    grid-template-rows: 10% 79% 11%;

}
.header{
    color: #f8f8f8;
    background-color:  #8d5b4c;
    box-sizing: border-box;
    grid-area: one;
    display: grid;
    box-sizing: border-box;
    height: 100%;
    grid-template-areas: 'aa bb cc dd ee ff gg hh ii jj kk ll';
    grid-template-columns: repeat(12,8%);
    justify-items: end;
    align-items: center;
    
}
.header a{
    color: aliceblue;
}
.header a:hover{
    text-decoration: underline;
    color: black;
}
.logo>div:nth-child(1){
    float:left;
    grid-area:a;
    width:68px;
    height: 68px;
    border-radius: 1000px;
    margin: 8px;
}
.logo img{
    width:68px;
    height: 68px;
    border-radius: 1000px;
} 
.logo>div:nth-child(2){
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.header div:nth-child(2){
    grid-area: gg;
}
.header div:nth-child(3){
    grid-area: hh;
}
.header div:nth-child(4){
    grid-area: ii;
}
.header div:nth-child(5){
    grid-area: jj;
}
.header div:nth-child(6){
    grid-area: kk;
}
.header div:nth-child(7){
    grid-area: ll;

   
}
.more{
    position: relative;
     line-height: 85px;
}
a{
    text-decoration: none;
}
.two{
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.two>div:nth-child(1){
    margin-left: 20px;
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-areas: 'a'
                        'b'
                        'c'
                        'd';
    grid-template-rows: 5% repeat(3,30%);
    grid-gap: 3px;
}

img{
    object-fit:cover;
}
.dropdown1{
    display: none;
    box-sizing: border-box;
    width: 100px;
    height: 110px;
    position: absolute;
    top:57px;
    border-radius: 10px;
    background-color: #8d5b4c;
    list-style-type: none;
    font-size: 10px;
    box-shadow: 1px 1px 1px 1px  #8d5b4c ;
    
    
}
.dropdown1>li{
    margin-top: 5px;
}

.more1:hover .dropdown1 {
    display: block;
  }
.logo img:nth-child(1):hover{
    width:75px;
    height: 75px;
}