 body { 
    display: grid;
    grid-template-areas: 
      "header"
      "funFacts"
      "footer";
    grid-template-rows: 12vh auto 12vh;  
    width: 100vw;
    line-height: 1.5;
  }

  #fact-wrapper {
    grid-area: funFacts;
    display: grid;
    grid-template-rows: (7, auto);
    row-gap: 10px;
  }

  .facts {
    padding: 20px;
    padding-left: 40px;
    border-radius: 20px;
  }

  #title {
    background: url("../images/pattern.jpeg") ;  
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
  }

  #kilimanjaro, .one, #sahara, .two {
    background-color: rgb(227, 220, 207);
  }

  #title h1 {
    margin-bottom: 2%;
    font-size: 2.5em;
  }

  #title p {
    font-size: 1.4em;
  }

  #kilimanjaro {
    display: grid;
    font-size: 1.3em;
    row-gap: 20px;
  }

  #kiliImages {
    display: flex;
    flex-wrap: wrap;
   
  }
  #kilimanjaro img {
    width: 33.33%;
    height: 100%;
    padding-right: 10px;
  }

  .one h3 {
    margin-bottom: 2%;
    font-size: 2em;
  }

  .one p {
    font-size: 1.4em;
    
  }

  .two h3 {
    font-size: 1.9em;
    margin-bottom: 1.5%;
  }

  #two-facts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #two-facts div {
    font-size: 1.3em;
    line-height: 1.5;
    width: 90%;
    height: 100%;
    background-color: rgb(206, 197, 179);
    padding: 20px;
    border-radius: 2%;
  }

  #sahara {
    display: grid;
    font-size: 1.3em;
  }

  #sahara h3 {
    font-size: 1.5em;
  }

  #sahara p {
    margin-bottom: 2%;
  }

  #sub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .sahara-facts {
    width: 90%;
    height: 100%;
    padding-right: 10px;
  }

  .sahara-facts h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
  }

  @media all and (min-width: 1024px) {
    #title {
      margin-top: 18px;
    }

  }

  @media all and (max-width: 840px) {
    #kiliImages {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
     
    }
    #kilimanjaro img {
      width: 50%;
      height: 50%;
      padding-bottom: 10px;
    }

  }

  @media all and (max-width: 640px) {
    #title h1 {
      font-size: 2.1em;
    }
  
    #title p {
      font-size: 1.3em;
    }

    #sub {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
    
    }
    .sahara-facts {
      width: 100%;
      padding-right: 0;
    }
  
    .sahara-facts h4 {
      margin-bottom: 8px;
      font-size: 1em;
    }

    #kilimanjaro {
      display: grid;
      row-gap: 10px;
    }

    #kilimanjaro img {
      width: 100%;
      height: 30%;
      padding-bottom: 5px;
    }

  }

  @media all and (max-width: 650px) {
    #two-facts {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  
    #two-facts div {
      width: 100%;
    }
  
  }

  