 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

 .header, .footer {
    background: #8d5b4c;
    overflow: scroll;
    font-size: 1em;
  }

  a, a:hover {
    text-decoration: none;
  }

  nav {
    padding: 5px 20px;
    display: flex;
    align-items: center;

  }

  nav a {
    color: #fff;
  }

  nav a:hover {
    color: black;
  }

  .logo {
    flex: 1;
    padding: 10px 4px;
  }

  .logo a {
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  .logo a:hover {
    color: #fff;
  }

  .logo img {
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .nav {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .nav li {
    padding: 15px 10px;
    font-size: 16px;
  }

  .toggle {
    font-size: 30px;
    display: none;
  }

  .footer {
    padding: 5px 20px;
    display: flex;
    align-items: center;
  }

  .footer a, .footer p {
    color: #fff;
  }

  .footer a:hover {
    color: black;
  }

  #footer_left {
    flex: 1;
    padding: 5px 5px;
  }

  #footer_right {
    display: flex;
  }

  #footer_right a {
    padding: 15px 10px;
  }

  #footer_right a:hover {
    padding: 12px 8px;
  }

  /* @media only screen and (max-width: 1024px) and (min-width: 900px) {
    .header {
      height: 15vh !important;
    }
  } */

  @media only screen and (max-width: 600px) {
    nav {
      display: block;
      position: relative;
      padding: 5px 10px;
    }

    .nav {
      margin-top: 15px;
      display: none;
    }

    .nav li {
      padding: 10px 5px;
      padding-top: 7px;
      font-size: 16px;
    }

    .nav.active, .toggle {
      display: block;
      z-index: 1;
      opacity: 1;
    }

    .toggle {
      position: absolute;
      top: 15px;
      right: 20px;
    }

     .header.active {
      z-index: 1;
      height: 35vh !important;
    }

  }

  @media only screen and (max-width: 414px) {

    .nav li {
      padding: 12px 5px;
      font-size: 16px;
    }

  }

  @media only screen and (max-width: 393px) {
    .nav li {
      padding: 10px 5px;
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 375px) {

    .nav {
      margin-top: 2px;
    }

    .nav li {
      padding: 8px 5px;
      font-size: 14px;
    }

    .logo {
      padding-top: 2px;
    }

  }