*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "intro"
        "timeline"
        "outro"
        "footer";
    grid-template-rows: 12vh 20vh auto 25vh 12vh;  
    height: 180vh;
    overflow: scroll;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.intro{
    grid-area: intro;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid antiquewhite;
}

.outro{
    grid-area: outro;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    border-top: 1px solid antiquewhite
}

.timeline{
    grid-area: timeline;
    margin-top: 50px;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.textbox{
    padding: 10px 20px;
    background-color: antiquewhite;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: rgba(0,0,0,0.3) 0px 3px 8px;
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.container img{
    border-radius: 50%;
    position: absolute;
    width: 40px;
    right: -20px;
    top: 32px;
    z-index: 10;
    border: 1px solid #964
}

.right-container img{
    left: -20px;
}

/*the literal timeline line*/
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 95vh;
    background: #964;
    top: 350px;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

.textbox h3{
    font-weight: 600;
    margin-bottom: 2px;
}

.textbox small{
    display: inline-block;
    margin-bottom: 8px;
}

.textbox p{
    font-size: 17px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid antiquewhite;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid antiquewhite;
    left: -15px;
}

@media all and (max-width:1300px) {
    .timeline::after{
        height: 140vh;
        top: 300px;
    }

    .textbox{
        padding: 15px;
    }
}

@media all and (max-width:1250px) {
    .timeline::after{
        height: 150vh;
        top: 300px;
    }

    .textbox{
        padding: 15px;
    }
}

@media all and (max-width:1200px) {
    .timeline::after{
        height: 150vh;
        top: 300px;
    }

    .textbox{
        padding: 15px;
    }
}

@media all and (max-width:1100px) {
    .timeline::after{
        height: 160vh;
        top: 300px;
    }

    .textbox{
        padding: 15px;
    }
}

@media all and (max-width:1000px) {
    .timeline::after{
        height: 165vh;
        top: 300px;
    }

    .intro{
        padding-top: 40px;
    }

    .textbox{
        padding: 15px;
    }

    .timeline{
        padding-bottom: 20px;
    }

    body{
        grid-template-rows: 10vh 22vh auto 17vh 10vh;  
    }
}

@media all and (max-width:950px) {
    .timeline::after{
        height: 175vh;
        top: 300px;
    }
}

@media all and (max-width: 900px) {
    .timeline::after{
        height: 175vh;
        top: 300px;
    }

    .intro{
        padding-top: 40px;
    }

    .timeline{
        padding-bottom: 20px;
    }

    body{
        grid-template-rows: 10vh 22vh auto 20vh 10vh;  
    }
}

@media all and (max-width: 850px) {
    .timeline::after{
        height: 190vh;
        top: 300px;
    }
}

@media all and (max-width: 800px) {
    .timeline::after{
        height: 200vh;
        top: 300px;
    }
    .textbox{
        padding: 15px;
    }
}

@media all and (max-width: 750px) {
    .timeline::after{
        height: 210vh;
        top: 300px;
    }
}

@media all and (max-width: 700px) {
    .timeline::after{
        height: 220vh;
        top: 300px;
    }
}

@media all and (max-width: 660px) {
    .timeline::after{
        height: 235vh;
        top: 300px;
    }
}

@media all and (max-width: 600px) {
    .timeline::after{
        height: 270vh;
        top: 300px;
    }
}

@media all and (max-width: 550px) {
    .timeline::after{
        height: 290vh;
        top: 300px;
    }
    .textbox{
        padding: 10px;
    }

    .intro{
        padding-top: 0px;
    }

    body{
        grid-template-rows: 12vh 20vh auto 27vh 12vh;  
        height: 183vh;
    }
}

@media all and (max-width: 500px) {
    .timeline::after{
        height: 260vh;
        top: 330px;
    }
    .textbox{
        padding: 10px;
    }

    .intro{
        padding-top: 0px;
    }

    body{
        grid-template-rows: 12vh 20vh auto 27vh 12vh;  
        height: 183vh;
    }
}

@media all and (max-width: 400px) {
    .timeline::after{
        height: 365vh;
        top: 340px;
    }

    .textbox{
        padding: 5px;
    }

    .intro{
        padding-top: 20px;
    }

    .outro{
        padding-top: 20px;
    }

    body{
        grid-template-rows: 10vh 22vh auto 25vh 10vh;  
    }
}