
body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "image image image"
    "alum student member"
    "footer footer footer";
  grid-template-rows: 10vh 50vh 30vh 10vh;  
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
}  

.image_display { 
  grid-area: image;    
  background: url("../Images/fashion.jpeg") ;  
  background-repeat: no-repeat;
  background-size: cover;
}

.alum_quote, .student_quote, .member_quote{
  color: black;
  font-size: 0.9em;
  width: 100%;
  background-color: antiquewhite;
}

.alum_quote { 
  grid-area: alum; 
  border-right: 0.5px solid black;
}

.student_quote {
  grid-area: student;
  border-right: 0.5px solid black;
}  

.member_quote { 
  grid-area: member; 
} 

.quotes {
  width: 100%;
  padding-top: 7%;
  padding-left: 15px;
  padding-right: 15px;
}

figcaption {
  padding-top: 4%;
  padding-left: 70%;
  font-size: 0.9em;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
}

#footer_left{
  width: 100%;
  padding: 10px;
}

#email {
  color: white;
  text-decoration: none;
}

#email:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

#footer_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
}

#footer_right p {
  font-size: 0.9em;
  padding-bottom: 5px;
}

#footer_contact a {
  padding: 5px;
}

#facebook_logo:hover, #instagram_logo:hover{
  padding: 1px;
}


/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "image"
      "alum"
      "student"
      "member"
      "footer";
    grid-template-rows: 10vh 50vh 20vh 20vh 20vh 10vh;  
    grid-template-columns: 1fr;
 }
}
.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1px;
  align-items: start;
  justify-items: center;
  margin: auto;
  width: 504px;
}

.grid img {
  max-width: 100%;
}

.grid img:nth-child(2) {
  grid-column: span 3;
  grid-row: span 4;

}

.alum_quote, .student_quote {
  border-bottom: 0.2px solid black;;
}

  
